/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.page {
  padding: 40px 20px;
}

.card {
  background: #fff;
  max-width: 1300px;
  margin: auto;
  border-radius: 12px;
  padding: 50px 40px 60px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  margin-bottom: 30px;
  margin-top: -40px;
}

h2 {
  margin-bottom: 10px;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin-top: 25px;
  font-size: 20px;
      font-family: 'Poppins', sans-serif;

}

p {
  font-size: 18px;
      font-family: 'Poppins', sans-serif;

}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 15px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
  color: #333;
      font-family: 'Poppins', sans-serif;

}

input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
      font-family: 'Poppins', sans-serif;

}

input:focus {
  outline: none;
  border-color: #00B899;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 8px;
  align-items: center;
}

.radio-group input {
  margin-right: 5px;
  align-items: center;
}

button {
  margin-top: 30px;
    background-color: #00B899;
  color: #fff;
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #00B899;
}

@media (max-width: 900px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}